/*=============================================
Pantallas de escritorio XL 1366px en adelante
=============================================*/

*{
	font-family: 'Open Sans', sans-serif;
}

ul, ol{
	list-style: none;
}

a:visited, a:link, a:focus, a:hover, a:active{
	list-style: none;
	text-decoration: none;
}

/*=============================================
Header
=============================================*/
header{
	background: rgba(0,0,0,.3);
}

header .logotipo{
	width: 30%;
}

.redes ul li i{
	width: 35px;
	line-height: 35px;
	text-align: center;
	cursor: pointer;   
}

.redes ul li i.fa-facebook-f{
	background: #1475E0;
}
.redes ul li i.fa-instagram{
	background: #f38bb9;
}
.redes ul li i.fa-twitter{
	background: #00A6FF;
}
.redes ul li i.fa-youtube{
	background: #F95F62;
}
.fa-bars{
	font-size: 35px;
}
.redesMovil{
	position: fixed;
	bottom: -10px;
	left: 50%;
	transform: translate(-50%, 0%);
}
/*=============================================
Table Horizontal LG 1024px
=============================================*/
@media (max-width: 1199px) and (min-width: 992px){

}
/*============================================= 
Table Vertical MD 768px
=============================================*/
@media (max-width: 991px) and (min-width: 768px){
	
	header .logotipo{
	 	width: 55%;
	}
}
/*=============================================
Móvil Horizontal SM 576px
=============================================*/
@media (max-width: 767px) and (min-width: 576px){	
	header .logotipo{
	 	width: 60%;
	}
}
/*=============================================
Móvil V  320px
=============================================*/
@media (max-width: 575px){
	header .logotipo{
	 	width: 95%;
	}
}



